*{
      font-family: 'Arsenal', sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}

#app {
  background: url(../../../assets/img/city.jpg);
  overflow: visible;
  background-size: cover;
  min-height: 100%;
}
