* {
    outline: none;
}

.pop-up-box {
    color: black;
    width: 50%;
    height: 86%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding:2%;
    margin: 20px auto;
    font-family: 'Prompt', sans-serif;
}
 
.pop-up-box-open {
    opacity: 1;

}

.close {
    font-size: 22px;
    border-radius: 3px;
    padding: 0;
    line-height: 22px;
    position: absolute;
}

.close:hover {
    background-color: lightgray;
    cursor: pointer;
}

.modalStyle, .backdropStyle {
  position: 'fixed';
  z-index: 1040;
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
}

.backdropStyle {
  z-index: 'auto';
  background-color: '#000';
  opacity: 0.5
}


.pop-up-box>h2 {
    margin: 0px;
    text-align: center;
    text-shadow: none;
}

.pop-up-box>* {
    font-family: 'Prompt', sans-serif;
    text-align: center;
}

a {
    display: block;
}

.box-img {
    color: black;
    border-radius: 10px;
    width: 160px;
    height: 160px;
    margin: 10px calc(50% - 80px);
    box-shadow: 1px 3px 10px;
}

.desc {
    margin: 0 auto;
    overflow: auto;
    height: 30%;
    width: 90%;
    
}

.overflowBox {
    max-height: 124px;
    overflow: hidden;
    /*width: 90%;*/
    
    margin: 0 auto;
}