{
    "presets": ["es2015", "react", "stage-0"],
    "plugins": ["transform-object-rest-spread"],
     
     "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "./webpack.test.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}
