form {
    background: url('../../../assets/img/blue.png');
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    width: 90%;
    border-radius: 3px;
    font-size: 20px;
    padding: 25px;
    border: 1px solid rgba(158, 158, 158, 1.0);
    box-shadow: 2px 2px 10px;
}

.error {
    position: absolute;
    font-weight: bolder;
    left: 0;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    margin-top: 10px;
}

.submit-button {
    color: black;
    height: 25px;
    border: none;
    box-shadow: none;
    width: 80px;
    background-color: #DD5958;
    font-size: 18px;
    border-radius: 10px;
    margin: 0 20px 0 20px;
}

.submit-button:hover {
    cursor: pointer;
}

.search-area {
    text-align: center;
    position: relative;
    top: -35px;
    z-index: 3;
}

select {
    margin-right: 10px;
    border: 1px solid;
    margin-left: 10px;
    width: 100px;
    height: 26px;
    padding: 0 0 0 10px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-family: "Josefin Sans";
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        padding-right: 18px
    }
}

/*loader spinner animation*/

.loader {
    left: calc(50% - 1.75em);
    position: absolute;
    top: 20px;
}

.hide {
    display: none;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 40px auto;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/*media queries*/

@media screen and (max-width: 540px) {
    form>* {
        font-size: 12px;
        display: block;
        text-align: left;
    }
    button {
        margin: 10px 10px 0 60px;
    }
    form>label {
        margin-top: 10px;
    }
    .submit-button {
        margin: 10px 0 0 0;
    }
    .loader {
        margin: 120px auto;
    }
}